Makefile
tags
TAGS
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*~
.*.sw?
\#*

/module/META-FAQ
/module/config.cache
/module/config.h
/module/config.log
/module/config.modules
/module/config.modules.sh
/module/config.status
/module/config.status.lineno
/module/cscope.out
/module/stamp-h
/module/autom4te.cache

module/Config/defs.mk

CVS
.#*

Doc/help
Doc/help.txt
Doc/help/[_a-zA-Z0-9]*

Doc/intro.pdf
Doc/intro.ps
Doc/intro.a4.pdf
Doc/intro.a4.ps
Doc/intro.us.pdf
Doc/intro.us.ps
Doc/version.yo
Doc/texi2html.conf
Doc/zsh*.1
Doc/zsh.texi
Doc/zsh.info*
Doc/*.html
Doc/zsh.aux
Doc/zsh.toc
Doc/zsh.cp
Doc/zsh.cps
Doc/zsh.fn
Doc/zsh.fns
Doc/zsh.ky
Doc/zsh.kys
Doc/zsh.pg
Doc/zsh.pgs
Doc/zsh.vr
Doc/zsh.vrs
Doc/zsh.log
Doc/zsh.dvi
Doc/zsh_a4.dvi
Doc/zsh_us.dvi
Doc/zsh.tp
Doc/zsh.tps
Doc/zsh.idx
Doc/zsh_*.ps
Doc/infodir
Doc/zsh.pdf
Doc/zsh_a4.pdf
Doc/zsh_us.pdf

Doc/Zsh/modlist.yo
Doc/Zsh/modmenu.yo
Doc/Zsh/manmodmenu.yo

Etc/FAQ
Etc/FAQ.html

module/Src/*.epro
module/Src/*.export
module/Src/*.mdh
module/Src/*.mdh.tmp
module/Src/*.mdhi
module/Src/*.mdhs
module/Src/*.syms
module/Src/Makemod.in
module/Src/Makemod
module/Src/[_a-zA-Z0-9]*.pro
module/Src/ansi2knr
module/Src/bltinmods.list
module/Src/cscope.out
module/Src/libzsh.so*
module/Src/modules-bltin
module/Src/modules.index
module/Src/modules.index.tmp
module/Src/modules.stamp
module/Src/patchlevel.h
module/Src/sigcount.h
module/Src/signames.c
module/Src/signames2.c
module/Src/stamp-modobjs
module/Src/stamp-modobjs.tmp
module/Src/tags
module/Src/TAGS
module/Src/version.h
module/Src/zshcurses.h
module/Src/zshpaths.h
module/Src/zshterm.h
module/Src/zshxmods.h

module/Src/Builtins/Makefile.in
module/Src/Builtins/*.export
module/Src/Builtins/so_locations
module/Src/Builtins/*.pro
module/Src/Builtins/*.epro
module/Src/Builtins/*.syms
module/Src/Builtins/*.mdh
module/Src/Builtins/*.mdhi
module/Src/Builtins/*.mdhs
module/Src/Builtins/*.mdh.tmp
module/Src/Builtins/rlimits.h

module/Src/zdharma/Makefile.in
module/Src/zdharma/*.export
module/Src/zdharma/so_locations
module/Src/zdharma/*.pro
module/Src/zdharma/*.epro
module/Src/zdharma/*.syms
module/Src/zdharma/*.mdh
module/Src/zdharma/*.mdhi
module/Src/zdharma/*.mdhs
module/Src/zdharma/*.mdh.tmp
module/Src/zdharma/errnames.c
module/Src/zdharma/errcount.h
module/Src/zdharma/curses_keys.h

.ycm_extra_conf.py
module/COMPILED_AT


module/Src/Zle/Makefile.in
module/Src/Zle/*.export
module/Src/Zle/so_locations
module/Src/Zle/*.pro
module/Src/Zle/*.epro
module/Src/Zle/*.syms
module/Src/Zle/*.mdh
module/Src/Zle/*.mdhi
module/Src/Zle/*.mdhs
module/Src/Zle/*.mdh.tmp
module/Src/Zle/thingies.list
module/Src/Zle/widgets.list
module/Src/Zle/zle_things.h
module/Src/Zle/zle_widget.h

module/Test/*.tmp
/.project
module/ValTest/test_type
