Makefile
tags
TAGS
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*~
.*.sw?
\#*

/module/META-FAQ
/module/config.cache
/module/config.h
/module/config.log
/module/config.modules
/module/config.modules.sh
/module/config.status
/module/config.status.lineno
/module/cscope.out
/module/stamp-h
/module/autom4te.cache

Config/defs.mk

CVS
.#*

Doc/help
Doc/help.txt
Doc/help/[_a-zA-Z0-9]*

Doc/intro.pdf
Doc/intro.ps
Doc/intro.a4.pdf
Doc/intro.a4.ps
Doc/intro.us.pdf
Doc/intro.us.ps
Doc/version.yo
Doc/texi2html.conf
Doc/zsh*.1
Doc/zsh.texi
Doc/zsh.info*
Doc/*.html
Doc/zsh.aux
Doc/zsh.toc
Doc/zsh.cp
Doc/zsh.cps
Doc/zsh.fn
Doc/zsh.fns
Doc/zsh.ky
Doc/zsh.kys
Doc/zsh.pg
Doc/zsh.pgs
Doc/zsh.vr
Doc/zsh.vrs
Doc/zsh.log
Doc/zsh.dvi
Doc/zsh_a4.dvi
Doc/zsh_us.dvi
Doc/zsh.tp
Doc/zsh.tps
Doc/zsh.idx
Doc/zsh_*.ps
Doc/infodir
Doc/zsh.pdf
Doc/zsh_a4.pdf
Doc/zsh_us.pdf

Doc/Zsh/modlist.yo
Doc/Zsh/modmenu.yo
Doc/Zsh/manmodmenu.yo

Etc/FAQ
Etc/FAQ.html

module/Src/*.epro
module/Src/*.export
module/Src/*.mdh
module/Src/*.mdh.tmp
module/Src/*.mdhi
module/Src/*.mdhs
module/Src/*.syms
module/Src/Makemod.in
module/Src/Makemod
module/Src/[_a-zA-Z0-9]*.pro
module/Src/ansi2knr
module/Src/bltinmods.list
module/Src/cscope.out
module/Src/libzsh.so*
module/Src/modules-bltin
module/Src/modules.index
module/Src/modules.index.tmp
module/Src/modules.stamp
module/Src/patchlevel.h
module/Src/sigcount.h
module/Src/signames.c
module/Src/signames2.c
module/Src/stamp-modobjs
module/Src/stamp-modobjs.tmp
module/Src/tags
module/Src/TAGS
module/Src/version.h
module/Src/zshcurses.h
module/Src/zshpaths.h
module/Src/zshterm.h
module/Src/zshxmods.h

module/Src/Builtins/Makefile.in
module/Src/Builtins/*.export
module/Src/Builtins/so_locations
module/Src/Builtins/*.pro
module/Src/Builtins/*.epro
module/Src/Builtins/*.syms
module/Src/Builtins/*.mdh
module/Src/Builtins/*.mdhi
module/Src/Builtins/*.mdhs
module/Src/Builtins/*.mdh.tmp
module/Src/Builtins/rlimits.h

module/Src/Modules/Makefile.in
module/Src/Modules/*.export
module/Src/Modules/so_locations
module/Src/Modules/*.pro
module/Src/Modules/*.epro
module/Src/Modules/*.syms
module/Src/Modules/*.mdh
module/Src/Modules/*.mdhi
module/Src/Modules/*.mdhs
module/Src/Modules/*.mdh.tmp
module/Src/Modules/errnames.c
module/Src/Modules/errcount.h
module/Src/Modules/curses_keys.h

Src/Zle/Makefile.in
Src/Zle/*.export
Src/Zle/so_locations
Src/Zle/*.pro
Src/Zle/*.epro
Src/Zle/*.syms
Src/Zle/*.mdh
Src/Zle/*.mdhi
Src/Zle/*.mdhs
Src/Zle/*.mdh.tmp
Src/Zle/thingies.list
Src/Zle/widgets.list
Src/Zle/zle_things.h
Src/Zle/zle_widget.h

Test/*.tmp
/.project
